---
const dataNavBar = [
  {
    name: "Info",
    url: "/",
  },
  {
    name: "Projects",
    url: "/blog",
  },
  {
    name: "Colaborators",
    url: "/colaborators",
  },
  {
    name: "About",
    url: "/contact",
  },
];
---

<nav
  class="fixed top-0 left-0 w-full flex items-center justify-between pt-4 px-5"
>
  <ul
    class="flex justify-start gap-10 border p-3 rounded-full border-secondary px-6"
  >
    {
      dataNavBar.map((item) => (
        <li>
          <a
            href={item.url}
            class="text-xl text-tertiary hover-text hover:opacity-60"
          >
            {item.name}
          </a>
        </li>
      ))
    }
  </ul>

  <ul class="flex justify-end gap-4 items-center p-3">
    <img
      src="/public/icons/language.svg"
      alt="Change Language"
      class="w-8 cursor-pointer"
    />
  </ul>
</nav>

<style>
  .hover-text {
    transition: opacity 0.3s ease;
  }
</style>
